footer, .footer {
    display: flex;
    background-color: var(--nitro-pink);
    justify-content: space-between;
  &__socials ul {
    padding: 0;
    list-style: none;
  }
  &__socials ul li {
    display: inline-block;
  }
  &__socials img {
    width: 50px;
  }
}